<h1>Jobs by City</h1>

<% cities.each do |city| %>
  <%= link_to city, "jobs?location=#{city}" %>
<% jobs_in_city(city).each do |job| %>
  <%= link_to job.title, company_job_path(job.company, job) %>
  
<% end %>
