<h3>All Categories</h3>

<% @categories.each do |category| %>
  <div class=category_<%= category.id %>>
    <%= link_to category.title, category_path(category) %>
    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category), method: "delete" %>
  </div>
<% end %>
