<h2><%= @category.title %></h2>

<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= link_to job.title, company_job_path(job.company, job) %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to All Categories", categories_path %>
